body{
    background-color: #C9BCDA;
    font-family: 'Roboto Condensed', sans-serif;
}

.navbar-custom-color{
    background-color: #D6B5D4;
}

.custom{
    color: #AFBFE0;
}

footer {
    background: #D6B3D3;
  }

